
body{
	padding:0px;
	margin:0px;
}


div.content{
    text-indent:30px;
}

.center{
	text-align:center;
}

.main{
    width:inherit;
	padding:10px;
}

.footer{ 
    width:100%;
    position:absolute;
    bottom:0;  
    overflow:hidden;
    text-align:center;
}

p{
	font-family: SimSun,SimHei,Verdana, Geneva, sans-serif;
	font-size:14px;
}